@using Keefa1.Models
@{
    ViewData["Title"] = "Home Page";
}
@model List<Doctor>
<style>
    .banner{
        padding:0;
        width:50%;
        height:200px;
        border: 1px solid black;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .dets{ 
        text-align:start;
        margin-left:5%;
    }
     img{
        width:200px;
    }
    /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}
</style>
<div class="text-center">
    <h2 >New Arrivals</h2>
    <div class="banner">
        <div class="dets">
       Doctor:
      <a asp-action="details" asp-controller="doctors" asp-route-id="@Model[0].id">
          @Model[0].fName  @Model[0].lName
      </a><br />

       Department:
       <a asp-action="details" asp-controller="departments" asp-route-id="@Model[0].depts.id">@Model[0].depts.name</a>  <br />
       <!-- location -->
       <svg class="svg-icon" viewBox="0 0 20 20">
		 <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,
             0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,
             17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,
             4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,
             3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,
             0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589">
         </path>
		</svg>
       @Model[0].government @if(@Model[0].government != null){<span>-</span>}  @Model[0].city <br />
        </div>
        <div>
            <img src="/images/@Model[0].img" />
        </div>

    </div>

        <h2>Recent offers</h2> 
   <div class="banner">
       <div class="dets">
       Doctor:
      <a asp-action="details" asp-controller="doctors" asp-route-id="@ViewBag.docs[0].id">
          @ViewBag.docs[0].fName  @ViewBag.docs[0].lName
      </a>  <br />

       Department:
       <a asp-action="details" asp-controller="departments" asp-route-id="@ViewBag.docs[0].depts.id">
           @ViewBag.docs[0].depts.name
       </a>  <br />
       
       Offer : @ViewBag.docs[0].offer % discount <br />
       <!-- location -->
       <svg class="svg-icon" viewBox="0 0 20 20">
		 <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,
             0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,
             17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,
             4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,
             3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,
             0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589">
         </path>
		</svg>
       @ViewBag.docs[0].government - @ViewBag.docs[0].city <br />
        </div>
        <div>
            <img src="/images/@ViewBag.docs[0].img" />
        </div>
    </div>
</div>
@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    
     function send()
    {
    var name = "s";

    //connection
         connection = new signalR.HubConnectionBuilder().withUrl("/reviewHub").build();

        //start
        connection.start().catch(function (e) {
});
        //call back fun

        connection.on("ReceiveMessage",function(n,m){
        $("ul").append("<li>"+n+":"+m+"</li>");
        });



        connection.invoke(
            "sendMessage",
            name,
            $("#txt").val()
        );
     
    }
</script>
<div>
    <input type="text" id="txt" />
    <input type="button" value="Comment" onclick="send()" />

    <ul>

    </ul>
</div>*@
@*<script>
    $(function(){
    name = @User.Identity.Name;
        //define connection
        let connection = $.hubConnection();
        //create proxy
         chatProxy = connection.createHubProxy("myHub");
        //start connection
        connection.start();
        //callback func
        chatProxy.on(
            "ReceiveMessage",
            function(n,m){
                $("ul").append("<li>"+n+":"+m+"</li>");
            }
        );
    })
    function send()
    {
        chatProxy.invoke(
            "sendMessage",
            name,
            $("#txt").val()
        );
        console.log($("#txt").val());
    }
</script>*@